@import "./variables";

.nav-top {
    z-index: 3;
    position: fixed;
    top: 0;
    height: 3rem;
    width: 100%;
    background: $bg-2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: .75rem;
    user-select: none;
    font-weight: 200;
    .btn {
        @include center();
        padding: 0.5rem;
        width: 3rem;
        height: 2rem;
        color: $gray;
        &:hover {
            background: $bg;
        }
        svg {
            color: $gray;
            height: 1.25rem;
            width: 1.25rem;
        }
    }
}