@import "./variables";

.nav-top {
    z-index: 3;
    position: fixed;
    top: 0;
    height: 3.5rem;
    width: 100%;
    background: $bg-2;
    border-bottom: 2px solid $gray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: 200;
    .btn {
        @include center();
        height: 2.5rem;
        width: 2.5rem;
        padding: 0.5rem;
        &:hover {
            background: $bg;
        }
        svg {
            height: 2rem;
            width: 2rem;
        }
    }
}