.sidebar {
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    background: $bg-2;
    z-index: 2;
    transition: all .5s;
    .sidebar-inner {
        margin: 3.5rem .5rem;
        opacity: 0;
        transition: opacity .25s;
        overflow-x: hidden;
    }
    .obj-btn {
        font-size: 1rem;
        padding: .25rem 1rem;
        margin-bottom: .5rem;
        height: 2.5rem;
        border-radius: .5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        user-select: none;
        &:hover {
            background: $bg;
        }
        svg {
            width: 1.5rem;
            height: 1.5rem;
        }
    } 
}

.sidebar-active {
    width: 100%;
    @include media-breakpoint-up(md) {
        width: 256px;
    }
    .sidebar-inner {
        opacity: 1;
    }
}