@import "./variables";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./navbar";
@import "./sidebar";
@import "./loadingScreen";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

#canvas, #loading-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#canvas {
    background-color: $bg-1;
}