@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./variables";

@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas, #start {
    display: block;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #121212;
}